@model PostModel
@{
}

@if (Model.BuyMeACoffee.Url != null)
{
    <li class="list-inline-item">
        <a rel="me" href="@Model.BuyMeACoffee.Url" title="@Model.BuyMeACoffee.Name">
            <span class="fa-stack fa-2x fa-hover-spin">
                <i class="fa-solid fa-square fa-stack-1x"></i>
                <i class="@Model.BuyMeACoffee.Icon fa-stack-1x fa-inverse"></i>
            </span>
            @Model.BuyMeACoffee.Name
        </a>
    </li>
}

@if (Model.Liberapay.Url != null)
{
    <li class="list-inline-item">
        <a rel="me" href="@Model.Liberapay.Url" title="@Model.Liberapay.Name">
            <span class="fa-stack fa-2x fa-hover-spin">
                <i class="fa-solid fa-square fa-stack-1x"></i>
                <i class="@Model.Liberapay.Icon fa-stack-1x fa-inverse"></i>
            </span>
            @Model.Liberapay.Name
        </a>
    </li>
}

@if (Model.Patreon.Url != null)
{
    <li class="list-inline-item">
        <a rel="me" href="@Model.Patreon.Url" title="@Model.Patreon.Name">
            <span class="fa-stack fa-2x fa-hover-spin">
                <i class="fa-solid fa-square fa-stack-1x"></i>
                <i class="@Model.Patreon.Icon fa-stack-1x fa-inverse"></i>
            </span>
            @Model.Patreon.Name
        </a>
    </li>
}

@if (Model.AmazonWishlist.Url != null)
{
    <li class="list-inline-item">
        <a rel="me" href="@Model.AmazonWishlist.Url" title="@Model.AmazonWishlist.Name">
            <span class="fa-stack fa-2x fa-hover-spin">
                <i class="fa-solid fa-square fa-stack-1x"></i>
                <i class="@Model.AmazonWishlist.Icon fa-stack-1x fa-inverse"></i>
            </span>
            @Model.AmazonWishlist.Name
        </a>
    </li>
}

@if (Model.Paypal.Url != null)
{
    <li class="list-inline-item">
        <a rel="me" href="@Model.Paypal.Url" title="@Model.Paypal.Name">
            <span class="fa-stack fa-2x fa-hover-spin">
                <i class="fa-solid fa-square fa-stack-1x"></i>
                <i class="@Model.Paypal.Icon fa-stack-1x fa-inverse"></i>
            </span>
            @Model.Paypal.Name
        </a>
    </li>
}