@page "/pages/about"
@model Moonglade.Web.Pages.AboutModel
@{
}
@section head {
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/fortawesome/fontawesome-free/css/all.min.css" />
        <link rel="stylesheet" href="~/css/about.min.css"/>
        <link rel="stylesheet" href="~/css/testimonial-test.css" />
    </environment>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/fortawesome/fontawesome-free/css/all.css" />
        <link rel="stylesheet" href="~/css/about.css"/>
        <link rel="stylesheet" href="~/css/testimonial-test.css" />
    </environment>
}

@section scripts {
    <environment exclude="Development">
        <script src="~/lib/fortawesome/fontawesome-free/js/all.min.js"/>
    </environment>
    <environment include="Development">
        <script src="~/lib/fortawesome/fontawesome-free/js/all.js"></script>
    </environment>
}
<div class="sec pt-4">
    <div class="container">
        <h3>@Model.ViewModel.MeAnTheBlog.Value</h3>
        <hr />
        <div class="row">
            <div class="col-md-5">
                <div class="center-align">
                    <img class="img-fluid img-thumbnail" width="45%" src="https://saschamanns.de/images/store/Sascha1.jpg" />
                    <img class="img-fluid img-thumbnail" width="45%" src="https://saschamanns.de/images/store/coat-of-arms.png" />
                    <p>@Model.ViewModel.CoatOfArms.Value</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sec">
    <h4 class="center-text">@Model.ViewModel.AboutMemberships.Value</h4>
    @foreach (var membership in Model.ViewModel.Memberships)
    {
        @if (membership.Active)
        {
            <div tabindex="0" class="e-card" id="@membership.Id">
                <div class="card-header">
                    <div class="e-card-header-caption">
                        <h4 class="card-subtitle"><a href="@membership.Link" target="_blank" class="">@membership.Organization</a></h4>
                    </div>
                </div>
                <div class="e-card-content">
                    @if (!string.IsNullOrWhiteSpace(membership.Summary))
                    {
                        <div class="muted"><small>@membership.Summary</small></div>
                    }
                </div>
            </div>
        }
    }
</div>

<div class="sec" style="margin-top: 2em">
    <h4 class="center-text">@Model.ViewModel.AboutMandates.Value</h4>
    @foreach (var mandates in Model.ViewModel.Mandates)
    {
        <div tabindex="0" class="e-card" id="@mandates.Id">
            <div class="card-header">
                <div class="e-card-header-caption">
                    <h4 class="card-subtitle"><a href="@mandates.Link" target="_blank" class="">@mandates.Summary</a></h4>
                </div>
            </div>
            <div class="e-card-content">
                <div class="muted"><small>@mandates.Organization - @mandates.Years</small></div>
            </div>
        </div>
    }
</div>

<div class="sec" style="margin-top: 2em">
    <h4 class="center-text">@Model.ViewModel.AboutHonoraryPositions.Value</h4>
    @foreach (var pos in Model.ViewModel.HonoraryPositions)
    {
        @if (pos.Active)
        {
            <div tabindex="0" class="e-card" id="@pos.Id">
                <div class="card-header">
                    <div class="e-card-header-caption">
                        <h4 class="card-subtitle"><a href="@pos.Link" target="_blank" class="">@pos.Summary</a></h4>
                    </div>
                </div>
                <div class="e-card-content">
                    @if (!string.IsNullOrWhiteSpace(pos.Organization))
                    {
                        <div class="muted"><small>@pos.Organization</small></div>
                    }
                </div>
            </div>
        }
    }
</div>

<div class="sec" style="margin-top: 2em">
    <h4 class="center-text">@Model.ViewModel.AboutPublications.Value</h4>
    <div style="height: 500px; overflow-y: scroll;">
        @foreach (var pub in Model.ViewModel.Publications)
        {
            <div tabindex="0" class="e-card" id="@pub.Id">
                <div class="card-header">
                    <div class="e-card-header-caption">
                        <h4 class="card-subtitle"><a href="@pub.Link" target="_blank" class="">@pub.Title</a></h4>
                    </div>
                </div>
                <div class="e-card-content">

                    <div class="card-text"><small>@pub.Authors</small></div>
                    <div class="card-text"><small>@pub.PublicationName - @pub.Publisher</small></div>
                    @if (!string.IsNullOrWhiteSpace(pub.Identifier))
                    {
                        <div class="muted"><small>@pub.Identifier, @SharedLocalizer["Published"]: <time datetime="@pub.DatePublished">@pub.DatePublished</time></small></div>
                    }
                    else
                    {
                        <div class="muted"><small>@SharedLocalizer["Published"]: @pub.DatePublished</small></div>
                    }
                </div>
            </div>
        }
    </div>
</div>

<div class="sec">
    <h4 class="center-text">@Model.ViewModel.AboutRepositories.Value</h4>
    <div style="height: 500px; overflow-y: scroll;">
        @foreach (var repo in Model.ViewModel.Repositories)
        {
            <div tabindex="0" class="e-card" id="@repo.Id">
                <div class="card-header">
                    <div class="e-card-header-caption">
                        <h4 class="card-subtitle"><a href="@repo.HtmlUrl" target="_blank" class="">@repo.Name</a></h4>
                    </div>
                </div>
                <div class="e-card-content">
                    <div class="card-text">@repo.Description</div>
                    <div class="muted"><small>@Model.ViewModel.LastUpdated.Value: <time datetime="@repo.UpdatedAt">@repo.UpdatedAt</time></small></div>
                </div>
            </div>
        }
    </div>
</div>

<div class="sec">
    <h4 class="center-text">@Model.ViewModel.NugetTitle.Value</h4>
    <div style="height: 500px; overflow-y: scroll;">
        @foreach (var repo in Model.ViewModel.NugetPackages)
        {
            <div tabindex="0" class="e-card" id="@repo.id">
                <div class="card-header">
                    <div class="e-card-header-caption">
                        <h4 class="card-subtitle"><a href="@repo.projectUrl" target="_blank" class="">@repo.idpackage</a></h4>
                    </div>
                </div>
                <div class="e-card-content">
                    <div class="card-text">@repo.description</div>
                    <div class="card-text">Version: @repo.version</div>
                    <div class="muted"><small>Downloads: @repo.totalDownloads </small></div>
                </div>
            </div>
        }
    </div>
</div>
<br />

<!-- Testimonials-->
<section id="testimonials">
    <h1>@SharedLocalizer["testimonials"]</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-offset2 col-md-8">
                <div class="control-container">
                    <ejs-carousel id="defaultCarousel" animationEffect="Fade" ´buttonsVisibility="Hidden" interval="8000" showIndicators="false">
                        <e-carousel-items>
                            @foreach (var test in Model.ViewModel.Testimonials)
                            {
                                <e-carousel-item template='<figure class="snip1157">
                                    <blockquote>@test.Summary
                                        <div class="arrow"></div>
                                    </blockquote>
                                    <img src="@test.ImagePath" alt="sq-sample3" />
                                    <div class="author"><h5>@test.Recommender <span> @test.RecommenderJob</span></h5></div>
                                    </figure>'></e-carousel-item>
                            }
                        </e-carousel-items>
                    </ejs-carousel>
                </div>
            </div>
        </div>
    </div>
</section>
