@page "/pages/imprint"
@model Moonglade.Web.Pages.ImprintModel
@using Syncfusion.EJ2.Maps
@{
    var TextStyle = new MapsFont { Size = "16px", FontFamily = "inherit" };
    var CenterPosition = new MapsCenterPosition { Latitude = 50.33, Longitude = 7.26 };
    var Markers = new List<Syncfusion.EJ2.Maps.MapsMarker>
    {
        new Syncfusion.EJ2.Maps.MapsMarker
        {
            Visible = true,
            Template = "<div><img src='images/marker-pen.png' alt='Marker for a location' style='height:50px;width:40px;'></img></div>",
            TooltipSettings = new MapsTooltipSettings { Visible = true, ValuePath="name" },
            DataSource = new[]
            {
                new
                {
                    name="Mayen, Rhinleland Palatinate, Germany",
                    latitude=50.32715,
                    longitude=7.21777
                }

            }
        }
    };
}
@section Scripts {
    <script>
        function onMapLoad(args) {
        }
    </script>
}

<h1>@SharedLocalizer["imprint-header"]</h1>
<h2 id="m46">@SharedLocalizer["imprint-service"]</h2>
<p>Sascha Manns</p>
<p>Pfarrer-Kneipp Straße 7</p>
<p>56727 Mayen</p>
<p>Deutschland</p>
<div class="control-section">
    <div class="row">
        <div class="col-md-12">
            @* <ejs-maps id="maps" load="window.onMapLoad" centerPosition="CenterPosition">
                <e-maps-titlesettings alignment="@Syncfusion.EJ2.Maps.Alignment.Center" text="Headquarter of Sascha Manns" textStyle="@TextStyle">
                </e-maps-titlesettings>
                <e-maps-zoomsettings zoomFactor="10" enable="false"></e-maps-zoomsettings>
                <e-maps-layers>
                    <e-maps-layer layerType="@Syncfusion.EJ2.Maps.ShapeLayerType.OSM" markerSettings="@Markers">
                    </e-maps-layer>
                </e-maps-layers>
            </ejs-maps> *@
            <div style="float: right">
                <a href="https://www.openstreetmap.org/copyright" rel="noopener" target="_blank">© OpenStreetMap contributors</a>
            </div>
        </div>
    </div>
</div>
<h2 id="m56">@SharedLocalizer["contact"]</h2>
<p><a href="mailto:Sascha.Manns@outlook.de" target="_blank" rel="noopener">Email</a></p>
<h2 id="m172">@SharedLocalizer["socialmedia"]</h2><p><strong>@SharedLocalizer["other"]:</strong> </p>
<p><a href="@BlogConfig.SocialProfileSettings.Mastodon" target="_blank" rel="noopener">Mastodon</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Reddit" target="_blank" rel="noopener">Reddit</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Codersrank" target="_blank" rel="noopener">Codersrank</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.AmazonAuthorPage" target="_blank" rel="noopener">Amazon Authorpage</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Steam" target="_blank" rel="noopener">Steam</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.WhatsApp" target="_blank" rel="noopener">WhatsApp</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Discord" target="_blank" rel="noopener">Discord</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Spotify" target="_blank" rel="noopener">Spotify</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Facebook" target="_blank" rel="noopener">Facebook</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Matrix" target="_blank" rel="noopener">Matrix</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Twitter" target="_blank" rel="noopener">Twitter/X</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Paypal" target="_blank" rel="noopener">Paypal</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Patreon" target="_blank" rel="noopener">Patreon</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Liberapay" target="_blank" rel="noopener">Liberapay</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.AmazonWishlist" target="_blank" rel="noopener">Amazon Wishlist</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.BuyMeACoffee" target="_blank" rel="noopener">Buy me a Coffee</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.CodeStats" target="_blank" rel="noopener">Codestats</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.OpenHub" target="_blank" rel="noopener">OpenHub</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Instagram" target="_blank" rel="noopener">Instagram</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.LinkedIn" target="_blank" rel="noopener">Linkedin</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Xing" target="_blank" rel="noopener">Xing</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.GitHub" target="_blank" rel="noopener">Github</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Stackoverflow" target="_blank" rel="noopener">Stackoverflow</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.DevTo" target="_blank" rel="noopener">Dev.to</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.LastFm" target="_blank" rel="noopener">Last.fm</a></p>
<h2 id="m65">@SharedLocalizer["liability"]</h2><p><strong>@SharedLocalizer["disclaimer"]</strong>: @Model.Disclaimer1.Value</p>
<p>@Html.Raw(@Model.Disclaimer2.Value)</p>
<p>@Html.Raw(@Model.Disclaimer3.Value)</p>
<p>@Html.Raw(@Model.Disclaimer4.Value)</p>
<p class="seal"><a href="https://datenschutz-generator.de/?l=de" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow">@SharedLocalizer["seal"]</a></p>
