@page "/pages/imprint"
@model Moonglade.Web.Pages.ImprintModel
@using Syncfusion.EJ2;
@using Syncfusion.EJ2.Maps
@{
    var urltemplate = "http://a.tile.openstreetmap.org/level/tileX/tileY.png";

    var marker = new List<MapsMarker>()
    {
        new Syncfusion.EJ2.Maps.MapsMarker()
        {
            Visible = true,
            Template =
                "<div><img src='https://moongladestorage2024.blob.core.windows.net/moongladeimages2024/marker-pen.png' alt='Mayen' style='height:50px;width:40px;'></img></div>",
            TooltipSettings = new MapsTooltipSettings { Visible = true, ValuePath = "name" },
            DataSource = Model.MarkerDataList,
            Height = 25,
            Width = 25
        }
    };
    
}
@section Scripts {
    <script>
        function onMapLoad(args) {
            // args.maps.layers[0].navigationLineSettings = [
            //     {
            //         visible: true,
            //         latitude: [40.724546, 34.060620],
            //         longitude: [-73.850344, -118.330491],
            //         color: 'blue',
            //         angle: 0.1
            //     }
            // ];
        }
    </script>
}

<h1>@Model.ImprintHeader.Value</h1>
<h2 id="m46">@Model.ImprintService.Value</h2>
<p>Sascha Manns</p>
<p>Pfarrer-Kneipp Straße 7</p>
<p>56727 Mayen</p>
<p>Deutschland</p>
<div class="control-section">
    <div class="row">
        <div class="col-md-12">
            <div id="control-section">
                <ejs-maps id="maps" load="window.onMapLoad">
                    <e-maps-zoomsettings zoomFactor=15></e-maps-zoomsettings>
                    <e-maps-centerposition latitude=@Model.MarkerDataList.FirstOrDefault().latitude longitude=@Model.MarkerDataList.FirstOrDefault().longitude></e-maps-centerposition>
                    <e-maps-layers>
                        <e-maps-layer urlTemplate=@urltemplate markerSettings=@marker></e-maps-layer>
                    </e-maps-layers>
                </ejs-maps>
            </div>
        </div>
    </div>
</div>
<h2 id="m56">@Model.Contact.Value</h2>
<p><a href="mailto:Sascha.Manns@outlook.de" target="_blank" rel="noopener">Email</a></p>
<h2 id="m172">@Model.Socialmedia.Value</h2><p><strong>@Model.Other.Value:</strong> </p>
<p><a href="@BlogConfig.SocialProfileSettings.Mastodon" target="_blank" rel="noopener">Mastodon</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Reddit" target="_blank" rel="noopener">Reddit</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Codersrank" target="_blank" rel="noopener">Codersrank</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.AmazonAuthorPage" target="_blank" rel="noopener">Amazon Authorpage</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Steam" target="_blank" rel="noopener">Steam</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.WhatsApp" target="_blank" rel="noopener">WhatsApp</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Discord" target="_blank" rel="noopener">Discord</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Spotify" target="_blank" rel="noopener">Spotify</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Facebook" target="_blank" rel="noopener">Facebook</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Matrix" target="_blank" rel="noopener">Matrix</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Twitter" target="_blank" rel="noopener">Twitter/X</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Paypal" target="_blank" rel="noopener">Paypal</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Patreon" target="_blank" rel="noopener">Patreon</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Liberapay" target="_blank" rel="noopener">Liberapay</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.AmazonWishlist" target="_blank" rel="noopener">Amazon Wishlist</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.BuyMeACoffee" target="_blank" rel="noopener">Buy me a Coffee</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.CodeStats" target="_blank" rel="noopener">Codestats</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.OpenHub" target="_blank" rel="noopener">OpenHub</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Instagram" target="_blank" rel="noopener">Instagram</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.LinkedIn" target="_blank" rel="noopener">Linkedin</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Xing" target="_blank" rel="noopener">Xing</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.GitHub" target="_blank" rel="noopener">Github</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.Stackoverflow" target="_blank" rel="noopener">Stackoverflow</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.DevTo" target="_blank" rel="noopener">Dev.to</a></p>
<p><a href="@BlogConfig.SocialProfileSettings.LastFm" target="_blank" rel="noopener">Last.fm</a></p>
<h2 id="m65">@Model.Liability.Value</h2><p><strong>@Model.Disclaimer.Value</strong>: @Model.Disclaimer1.Value</p>
<p>@Html.Raw(@Model.Disclaimer2.Value)</p>
<p>@Html.Raw(@Model.Disclaimer3.Value)</p>
<p>@Html.Raw(@Model.Disclaimer4.Value)</p>
