@page "/pages/impulses"
@model Moonglade.Web.Pages.ImpulsesModel
@{
}
@section scripts {
    <script src="~/lib/syncfusion/ej2/dist/ej2.min.js" type="text/javascript"></script>
    <script src="~/js/app/apply-syncfusion.js" type="text/javascript"></script>
    <script>
        document.getElementById('book-pastoral').onclick = function() {
            window.open("https://nextcloud.saschamanns.de/index.php/apps/appointments/pub/GBA0ww5vzc9MVZlb/form");
        };

        document.getElementById('book-bible').onclick = function() {
            window.open("https://nextcloud.saschamanns.de/index.php/apps/appointments/pub/QvcZl32AEQlcAG54/form");
        };
    </script>
}
<h1>@Model.Impulses.Value</h1>
<h2>@Model.ImpulsesSlogan.Value</h2>

<!-- Seelsorge-->
<h2 style="margin-top: 1em; text-align: center;">@Model.ImpulsesSeelsorgeTitle.Value</h2>
<img src="https://moongladesm.blob.core.windows.net/images/misc/seelsorge.png" alt="Seelsorge" style="display: block; margin-left: auto; margin-right: auto;" width="20%" />
<div class="pastoral-service" style="margin-top: 1em;">@Html.Raw(@Model.ImpulsesSeelsorge.Value)</div>
<div class="lang"><span class="border">@Model.ImpulsesLang.Value</span></div>
<div style="margin-top: 1em;"></div>
<ejs-button id="book-pastoral" cssClass="e-info" content="@Model.ImpulsesBookPastoral.Value"></ejs-button>


<!-- Bibelstudium -->
<h2 style="margin-top: 1em; text-align: center;">@Model.ImpulsesBibleTitle.Value</h2>
<img src="https://moongladesm.blob.core.windows.net/images/misc/book.png" alt="Bibelstudium" style="display: block; margin-left: auto; margin-right: auto;" width="20%" />
<div class="bible-study" style="margin-top: 1em;">@Html.Raw(@Model.ImpulsesBible.Value)</div>
<div class="lang"><span class="border">@Model.ImpulsesLang.Value</span></div>
<div style="margin-top: 1em;"></div>
<ejs-button id="book-bible" cssClass="e-info" content="@Model.ImpulsesBookBiblestudy.Value"></ejs-button>

<!-- Psychologische Beratung -->
<h2 style="margin-top: 1em; text-align: center;">@Model.ImpulsesPsychologicalTitle.Value</h2>
<img src="https://moongladesm.blob.core.windows.net/images/misc/consultation.png" alt="Beratung" style="display: block; margin-left: auto; margin-right: auto;" width="20%" />
<div style="margin-top: 1em;" class="psychological-counseling">@Html.Raw(@Model.ImpulsesPsychological.Value)</div>